/* ----------------------------------------------------------------- */
/* Header */
/* ----------------------------------------------------------------- */
.header {
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.header__inner {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header__logo img {
    display: block;
}

.header__search {
    width: 100%;
    padding: 0 15px;
}