@import "header.css";
@import "form-search.css";

/* ----------------------------------------------------------------- */
/* Reset */
/* ----------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ----------------------------------------------------------------- */
/* Body */
/* ----------------------------------------------------------------- */
body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    color: #161616;
    font-size: 18px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #161616;
}

/* ----------------------------------------------------------------- */
/* Buttons */
/* ----------------------------------------------------------------- */
.btn {
    cursor: pointer;
    transition: .2s;
}

.btn--search {
    background-color: transparent;
    border: 0;
    padding: 10px;
    border-radius: 30px;
}

/* ----------------------------------------------------------------- */
/* Nav */
/* ----------------------------------------------------------------- */
.nav ul {
    display: flex;
}

.nav ul li + li {
    margin-left: 15px;
}