@import "header.css";
@import "form-search.css";
@import "hero.css";
@import "form-auth.css";

/* ----------------------------------------------------------------- */
/* Reset */
/* ----------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ----------------------------------------------------------------- */
/* Body */
/* ----------------------------------------------------------------- */
body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    color: #161616;
    font-size: 18px;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #161616;
}

img {
    display: block;
}

h1 {
    font-size: 70px;
}

/* ----------------------------------------------------------------- */
/* Buttons */
/* ----------------------------------------------------------------- */
.btn {
    cursor: pointer;
    transition: .2s;
}

.btn--search {
    background-color: transparent;
    border: 0;
    padding: 10px;
    border-radius: 30px;
}

.btn--auth {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
}

.btn--auth:hover {
    background-color: rgb(64, 64, 64);
    transition: .2s;
}

/* ----------------------------------------------------------------- */
/* Nav */
/* ----------------------------------------------------------------- */
.nav ul {
    display: flex;
}

.nav ul li + li {
    margin-left: 15px;
}

/* ----------------------------------------------------------------- */
/* Shell */
/* ----------------------------------------------------------------- */
.shell {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}